My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d60bf927-2a96-4d53-af08-94230201cd5e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4T9uKQuNgXUaBGJC",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "1818678b-9841-46b2-bf6f-254c0b630f98",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a helpful customer support assistant.\nRead the email below and write a polite reply.\n\nEmail:\n{{$json.message}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "f7d633df-de9f-4d20-a879-73ede5354fa0",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "jNqdu6Im3GKN4Gu8",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "73f68dc8-34d7-447f-9e11-9fb6bd0461bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0148cc872cd6646b9cb7b89472c3e41f9d0adab74c5072ec2ba6ef3e0616d526"
  },
  "id": "Q6v2tcDZDdSdOgRZ",
  "tags": []
}