My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e6b62251-bd22-4e25-bbf9-c7d34aa3a312",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7cd8955-c220-4f72-85a3-ca09fdd09011",
              "name": "",
              "value": "Sai",
              "type": "string"
            },
            {
              "id": "59382528-2814-49db-b5cc-be96f7a60ff9",
              "name": "Goal",
              "value": "Crack exams",
              "type": "string"
            },
            {
              "id": "b9c4ffc7-8b5f-469b-943d-4d6f7d51bb59",
              "name": "Subjects",
              "value": "DSA,DBMS ,OS",
              "type": "string"
            },
            {
              "id": "438df84b-b694-4444-acf9-b3ab8ddf584e",
              "name": "Study_hours",
              "value": "3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "3f170145-88bb-45de-bb3a-feb9f6aa9467",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"phi3\",\n  \"prompt\": \"You are a motivating mentor. Create a study reminder for {{$json.name}}. Goal: {{$json.goal}}. Subjects: {{$json.subjects}}. Study time: {{$json.study_hours}} hours. Make it inspiring and urgent.\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "47b07272-376a-4c3e-9fde-6f69ff439e0e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "8371496550",
        "text": "={{$json[\"response\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "23bce61a-8f84-4aee-a2e1-36800bffe938",
      "name": "Send a text message",
      "webhookId": "473d3384-d2a9-42f3-986c-e9c42b0bd6fd",
      "credentials": {
        "telegramApi": {
          "id": "kTdjeJ0w3I6exNzp",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9ce7cfd9-bdaf-4a44-9b3b-c3a7ce101993",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a5ae95344c81d363f792d503e03efb9d41c50dfefba3c04093ed2a46235355f"
  },
  "id": "32CTwApRqtChC9z7",
  "tags": []
}